.container{
    background-size: 100%;
    background-attachment: fixed;
    width: 1600px;
    height: 100%;
    padding-top: 5px;
}

.div1{
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: justify;
}
.div2{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: justify;
}

.div20{
    float: left;
    width: 50%;
    height: 100%;
    border-right: 2px solid #000;
    text-align: justify;
    padding: 10px;
}
.div21{
    float: left;
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 10px;

}
.div22{
    float: left;
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;

}
.div23{
    float: left;
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 10px;
    border-top: 2px solid #000;

}

.div3{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    padding: 10px;
    text-align: justify;
}

.div4{
    width: 100%;
    height: 100%;
    background-color: black;
    float: left;
}
.div412{
 
    float: right;
  
}
.div40{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    float: right;

}
.div41{
    float: left;
    background-color: black;
    color: white;
    padding-left: 10px;
}
.div42{
    float: left;
    background-color: black;
    color: white;
    padding-left: 10px;
}
.div43{
     float: right;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 30px;
}
.s1{
    float: right;
   background-color: black;
   color: white;
   padding-left: 10px;
   padding-right: 30px;
}
.s2{
    float: right;
   background-color: black;
   color: white;
   padding-left: 10px;
}
.s3{
    float: right;
   background-color: black;
   color: white;
   padding-left: 10px;
}