<app-navbar-privado></app-navbar-privado>
<div class="container">
  <br />
  <div class="row">
    <div class="col-md-4">
      <h3><strong>Clientes</strong></h3>
    </div>
    <div class="col-md-4"></div>
    <div style="text-align: right" class="col-md-4 ml-auto">
      <button
        style="
          align-content: flex-start;
          margin-bottom: 5px;
          border-radius: 17px;
        "
        type="button"
        class="btn btn-success"
        (click)="openModalCreate(crearClienteModal)"
      >
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <input name="search" [(ngModel)]="search" class="form-control"  type="text" placeholder="Search.."style="border-radius: 15px"/>
    </div>
  </div>


  <table class="table table-hover" style="margin-top: 10px">
    <thead>
      <th style="text-align: center; background-color: #212121; color: white">
        Id
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Nombre
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Correo
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Dirección
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Celular
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Tipo Cliente
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Activo
      </th>
      <th style="text-align: center; background-color: #212121; color: white">
        Acciones
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td style="text-align: center">{{client.id}}</td>
        <td style="text-align: center">{{client.name}}</td>
        <td style="text-align: center">{{client.email}}</td>
        <td style="text-align: center">{{client.address}}</td>
        <td style="text-align: center">{{client.phone}}</td>
        <td style="text-align: center">{{client.idClientType}}</td>
        <td style="text-align: center">{{client.active}}</td>
        <td style="text-align: center">
          <a>
            <button
              style="border-radius: 17px; margin: 2px"
              type="button"
              class="btn btn-warning"
              (click)="openModalEdit(editarClienteModal, client)"
            >
              <i class="fas fa-pen"></i>
            </button>
          </a>
          <a>
            <button
              style="border-radius: 17px; margin: 2px"
              type="button"
              class="btn btn-danger"
              (click)="eliminarCliente(client.id)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #crearClienteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title"><strong>Crear Cliente</strong></h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <label style="text-align: center; color: red" class="form-text"
      >Todos los campos con (*) son obligatorios.</label
    >
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="idNew">Id</label>
          <input type="number" class="form-control" name="idNew" [(ngModel)]="idNew"/>
        </div>
        <div class="form-group">
          <label for="nameNew">Nombre</label>
          <input type="text" class="form-control" name="nameNew" [(ngModel)]="nameNew" />
        </div>
        <div class="form-group">
          <label for="emailNew">Correo Electronico</label>
          <input type="email" class="form-control" name="emailNew" [(ngModel)]="emailNew" />
        </div>
        <div class="form-group">
          <label for="phoneNew">Celular</label>
          <input type="number" class="form-control" name="phoneNew" [(ngModel)]="phoneNew" />
        </div>
        <div class="form-group">
          <label for="addressNew">Direccion</label>
          <input type="text" class="form-control" name="addressNew" [(ngModel)]="addressNew" />
        </div>
        <div class="form-group">
          <label for="idClientTypeNew">Id tipo Cliente</label>
          <input type="number" class="form-control" name="idClientTypeNew" [(ngModel)]="idClientTypeNew" />
        </div>
        <div class="form-group">
          <label for="isActiveNew">Activo</label>
          <input type="text" class="form-control" name="isActiveNew" [(ngModel)]="isActiveNew" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        style="border-radius: 17px"
        data-bs-dismiss="modal"
        (click)="cancelModal()"
      >
        <i class="fas fa-ban"></i>
      </button>
      <button
        type="button"
        style="border-radius: 17px"
        class="btn btn-success"
        (click)="crearCliente()"
      >
        <i class="fad fa-save"></i>
      </button>
    </div>
</ng-template>

<ng-template #editarClienteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title"><strong>Editar Cliente</strong></h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <label style="text-align: center; color: red" class="form-text"
      >Todos los campos con (*) son obligatorios.</label
    >
    <div class="modal-body">
      <form v>
        <div class="form-group">
          <label for="idEdit">Id</label>
          <input type="number" class="form-control" name="idEdit" [(ngModel)]="idEdit" readonly="readonly"/>
        </div>
        <div class="form-group">
          <label for="nameEdit">Nombre</label>
          <input type="text" class="form-control" name="nameEdit" [(ngModel)]="nameEdit"/>
        </div>
        <div class="form-group">
          <label for="emailEdit">Correo Electronico</label>
          <input type="email" class="form-control" name="emailEdit" [(ngModel)]="emailEdit"/>
        </div>
        <div class="form-group">
          <label for="phoneEdit">Celular</label>
          <input type="number" class="form-control" name="phoneEdit" [(ngModel)]="phoneEdit"/>
        </div>
        <div class="form-group">
          <label for="addressEdit">Direccion</label>
          <input type="text" class="form-control" name="addressEdit" [(ngModel)]="addressEdit"/>
        </div>
        <div class="form-group">
          <label for="idClientTypeEdit">Id tipo Cliente</label>
          <input type="number" class="form-control" name="idClientTypeEdit" [(ngModel)]="idClientTypeEdit"/>
        </div>
        <div class="form-group">
          <label for="isActiveEdit">Activo</label>
          <input type="text" class="form-control" name="isActiveEdit" [(ngModel)]="isActiveEdit"/>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        style="border-radius: 17px"
        data-bs-dismiss="modal"
        (click)="cancelModal()"
      >
        <i class="fas fa-ban"></i>
      </button>
      <button
        type="submit"
        style="border-radius: 17px"
        class="btn btn-success"
        (click)="editarCliente()"
      >
        <i class="fad fa-save"></i>
      </button>
    </div>
</ng-template>

