<header class="mt-5">
    <div class="container w-75  mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col p-5 rounded-end">
                
                <h2 class="fw-bold text-center py-5">Bienvenido</h2>

                <form autocomplete="on" (submit)="login()" >
                    <div class="mb-4">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="username">
                    </div>
                    <div class="mb-4">
                        <label for="Password" class="form-label">Password</label>
                        <input type="Password" class="form-control" name="Password" [(ngModel)]="password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</header>