<app-navbar-privado></app-navbar-privado>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3><strong>Tipo de Refrigerantes</strong></h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 ml-auto" style="text-align: right;">
            <button style="align-content: flex-start; margin-bottom: 5px; border-radius: 17px" title="crear tipo refrigerante" class="btn btn-success" (click)="openModalCreate(crearTipoRefrigeranteModal)">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <table class="table table-striped bg-light mt-2" style="border-radius: 10px;">
        <thead style="text-align: center;">
            <th>Id tipo Refrigerante</th>
            <th>Refrigerante</th>
        </thead>
        <tbody>
            <tr *ngFor="let tipoRefrigerante of tipoRefrigerantes" style="text-align: center;">
                <td>{{tipoRefrigerante.idTipoRefrigerante}}</td>
                <td>{{tipoRefrigerante.refrigerante}}</td>
                <td>
                    <a>
                        <button
                            style="border-radius: 17px; margin: 2px"
                            type="button"
                            class="btn btn-warning"
                            aria-label="Editar"
                            title="Editar tipo refrigerante"
                            (click)="openModalEdit(editarTipoRefrigeranteModal, tipoRefrigerante)"
                          >
                            <i class="fas fa-pen"></i>
                        </button>
                    </a>
                    <a>
                        <button
                        style="border-radius: 17px; margin: 2px"
                        type="button"
                        class="btn btn-danger"
                        title="Eliminar cliente"
                        (click)="eliminarTipoRefrigerante(tipoRefrigerante.idTipoRefrigerante)"
                      >
                        <i class="fas fa-trash"></i>
                    </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #crearTipoRefrigeranteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title"><strong>Crear Tipo de Refrigerante</strong></h5>
        <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="cancelModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <label style="text-align: center; color: red" class="form-text">Todos los campos con (*) son obligatorios.</label>
    <div class="modal-body">
        <form [formGroup]="tipoRefrigerante">
            <div class="form-group mb-2">
                <label><label style="color: red">*</label>Id Tipo Refrigerante</label>
                <input type="number" formControlName="idTipoRefrigerante" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['idTipoRefrigerante'].errors }" readonly>
                <div *ngIf="submitted && f['idTipoRefrigerante'].errors" class="invalid-feedback">
                    <div *ngIf="f['idTipoRefrigerante'].errors['required']">Por favor, ingresa el id del tipo del refrigerante</div>
                </div>
            </div>
            <div class="form-group mb-2">
                <label><label style="color: red;">*</label>Refrigerante</label>
                <input type="number" formControlName="refrigerante" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['refrigerante'].errors }">
                <div *ngIf="submitted && f['refrigerante'].errors" class="invalid-feedback">
                    <div *ngIf="f['refrigerante'].errors['required']">Por favor, ingresa el número de refrigerante</div>
                    <div *ngIf="f['refrigerante'].errors?.['pattern']">El número ingresado supera la cantidad de digitos permitidos</div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                class="btn btn-secondary"
                style="border-radius: 17px"
                title="Cerrar"
                (click)="cancelModal()"
              >
                <i class="fas fa-ban"></i>
              </button>
              <div class="form-group">
                <button style="border-radius: 17px" class="btn btn-success" title="Guardar" (click)="crearTipoRefrigerante()">
                  <i class="fad fa-save"></i>
                </button>  
              </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editarTipoRefrigeranteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title"><strong>Editar Tipo de Refrigerante</strong></h5>
        <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="cancelModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <label style="text-align: center; color: red" class="form-text">Todos los campos con (*) son obligatorios.</label>
    <div class="modal-body">
        <form [formGroup]="tipoRefrigerante">
            <div class="form-group mb-2">
                <label><label style="color: red">*</label>Id Tipo Refrigerante</label>
                <input type="number" formControlName="idTipoRefrigerante" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['idTipoRefrigerante'].errors }" readonly>
                <div *ngIf="submitted && f['idTipoRefrigerante'].errors" class="invalid-feedback">
                    <div *ngIf="f['idTipoRefrigerante'].errors['required']">Por favor, ingresa el id del tipo del refrigerante</div>
                </div>
            </div>
            <div class="form-group mb-2">
                <label><label style="color: red;">*</label>Refrigerante</label>
                <input type="number" formControlName="refrigerante" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['refrigerante'].errors }">
                <div *ngIf="submitted && f['refrigerante'].errors" class="invalid-feedback">
                    <div *ngIf="f['refrigerante'].errors['required']">Por favor, ingresa el número de refrigerante</div>
                    <div *ngIf="f['refrigerante'].errors?.['pattern']">El número ingresado supera la cantidad de digitos permitidos</div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                class="btn btn-secondary"
                style="border-radius: 17px"
                title="Cerrar"
                (click)="cancelModal()"
              >
                <i class="fas fa-ban"></i>
              </button>
              <div class="form-group">
                <button style="border-radius: 17px" class="btn btn-success" title="Guardar" (click)="editarTipoRefrigerante()">
                  <i class="fad fa-save"></i>
                </button>  
              </div>
            </div>
        </form>
    </div>
</ng-template>